main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    color: var(--amarelo-vibrante);
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 30px;
}

.game-container h2 {
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.5rem;
    color: var(--amarelo-vibrante);
    text-align: center;
}

.game-container p{
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.2rem;
    color: var(--amarelo-vibrante);
    text-align: center;
}

.partida-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    border: 2px solid var(--amarelo-vibrante);
    border-radius: 30px;
    padding: 20px;
}

.partida-info p{
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.2rem;
    color: var(--amarelo-vibrante);
    text-align: center;
}

.modo {
    font-weight: bold;
    color: var(--verde-neon);
    text-shadow: 0 0 2px var(--verde-neon);
}

.id_partida {
    font-weight: bold;
    color: var(--azul-celeste);
    text-shadow: 0 0 2px var(--azul-celeste);
}

.cronometro {
    font-weight: bold;
    color: var(--vermelho-sangue);
    text-shadow: 0 0 2px var(--vermelho-sangue);
}

.Botao-Iniciar {
    background-color: var(--verde-neon);
    color: var(--preto-profundo);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.2rem;
}

.Botao-Iniciar:disabled {
    background-color: var(--verde-neon-disabled);
    color: var(--preto-profundo);
    cursor: not-allowed;
}

.Botao-Iniciar:hover {
    background-color: var(--verde-neon);
    color: var(--preto-profundo);
    box-shadow: 0 0 10px var(--verde-neon);
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 800px;
}

.cartas {
    max-width: 100px;
    max-height: 150px;
    background-color: var(--cinza-claro);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid var(--amarelo-vibrante);
}

.cartas img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.escondida {
    display: none;
}


.pontuacao {
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    padding: 20px;
    gap: 10px;
    border: 2px solid var(--amarelo-vibrante);
    border-radius: 30px;
}

.pontuacao h2 {
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.5rem;
    color: var(--verde-neon);
    text-shadow: 0 0 2px var(--verde-neon);
    text-align: left;
}

.pontuacao-1 p{
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.1rem;
    color: var(--azul-celeste);
    text-shadow: 0 0 2px var(--azul-celeste);
    text-align: left;
}

.pontuacao-2 p{
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.1rem;
    color: var(--vermelho-sangue);
    text-shadow: 0 0 2px var(--vermelho-sangue);
    text-align: left;
}

.vez{
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.1rem;
    color: var(--amarelo-vibrante);
    text-shadow: 0 0 2px var(--amarelo-vibrante);
    text-align: left;
}