main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    color: var(--amarelo-vibrante);
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 30px;
}

.game-container h2 {
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.5rem;
    color: var(--amarelo-vibrante);
    text-align: center;
}

.game-container p{
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.2rem;
    color: var(--amarelo-vibrante);
    text-align: center;
}

.partida-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    border: 2px solid var(--amarelo-vibrante);
    border-radius: 30px;
    padding: 20px;
}

.partida-info p{
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.2rem;
    color: var(--amarelo-vibrante);
    text-align: center;
}

.modo {
    font-weight: bold;
    color: var(--verde-neon);
    text-shadow: 0 0 2px var(--verde-neon);
}

.id_partida {
    font-weight: bold;
    color: var(--azul-celeste);
    text-shadow: 0 0 2px var(--azul-celeste);
}

.cronometro {
    font-weight: bold;
    color: var(--vermelho-sangue);
    text-shadow: 0 0 2px var(--vermelho-sangue);
}

.Botao-Iniciar {
    background-color: var(--verde-neon);
    color: var(--preto-profundo);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.2rem;
}

.Botao-Iniciar:disabled {
    background-color: var(--verde-neon-disabled);
    color: var(--preto-profundo);
    cursor: not-allowed;
}

.Botao-Iniciar:hover {
    background-color: var(--verde-neon);
    color: var(--preto-profundo);
    box-shadow: 0 0 10px var(--verde-neon);
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 800px;
    perspective: 1000px;
}

.tabuleiro.pausado {
    pointer-events: none;
    opacity: 0.8;
}

.tabuleiro.pausado.cartas{
    cursor: default;
}

.tabuleiro:not(.pausado) .cartas {
    cursor: pointer;
}

.cartas {
    width: 100%;
    height: 100px;
    aspect-ratio: 1 / 1;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.cartas.virada {
    transform: rotateY(180deg);
}

.faces-das-cartas{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}

.frente {
    background-color: var(--preto-profundo);
    transform: rotateY(180deg);
}

.verso {
    background-color: var(--preto-profundo);
    border: 3px solid var(--amarelo-vibrante);
}


.faces-das-cartas img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.cartas.par{
    cursor: default;
    box-shadow: 0 0 15px var(--verde-neon);
    border: 2px solid var(--verde-neon);
}

.pontuacao {
    display: flex;
    position: fixed;
    bottom: 20px;
    left: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 250px;
    padding: 20px;
    gap: 10px;
    border: 2px solid var(--amarelo-vibrante);
    border-radius: 30px;
}

.pontuacao h2 {
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.5rem;
    color: var(--verde-neon);
    text-shadow: 0 0 2px var(--verde-neon);
    text-align: left;
}

.pontuacao-1 p{
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.1rem;
    color: var(--azul-celeste);
    text-shadow: 0 0 2px var(--azul-celeste);
    text-align: left;
}

.pontuacao-2 p{
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.1rem;
    color: var(--vermelho-sangue);
    text-shadow: 0 0 2px var(--vermelho-sangue);
    text-align: left;
}

.vez{
    font-family: var(--fonte-corpo-de-texto);
    font-size: 1.1rem;
    color: var(--amarelo-vibrante);
    text-shadow: 0 0 2px var(--amarelo-vibrante);
    text-align: left;
}

.label-do-jogador {
    font-weight: bold;
    color: var(--verde-neon);
    text-shadow: 0 0 2px var(--verde-neon);
}

.status-jogadores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    border: 2px dashed var(--azul-celeste);
    padding: 10px;
    border-radius: inherit;
}

.status-jogadores h3 {
    font-family: var(--fonte-secundaria);
    font-size: 1.3rem;
    color: var(--amarelo-vibrante);
    text-shadow: 0 0 2px var(--amarelo-hover);
}

.status-jogadores .status-offline {
    color: var(--vermelho-sangue);
    text-shadow: 0 0 2px var(--vermelho-sangue);
}

.status-jogadores .status-online {
    color: var(--verde-neon);
    text-shadow: 0 0 2px var(--verde-neon);
}

.status-jogadores .e-voce-label {
    color: var(--azul-celeste);
    text-shadow: 0 0 2px var(--azul-celeste);
}